* { box-sizing: border-box }

:root {
}

body {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    border: solid 4px red;
    background: white;
}

#screen_center {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1cm;
    height: 1cm;
    padding: 2px;
    border-top: solid 1px red;
    border-left: solid 1px red;
    color: #888888;
    font-size: 8px;
}

#info {
    margin-top: 50px;
    margin-left: 50px;
}


#horizontal_arrow {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-top: dashed 1px black;
}

#vertical_arrow {
    position:fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    border-left: dashed 1px black;
}

button {
    width: 10vw;
    height: 10vw;
    border: 3d 1px black;
}

/*
    320px — 480px: Mobile devices.
    481px — 768px: iPads, Tablets.
    769px — 1024px: Small screens, laptops.
    1025px — 1200px: Desktops, large screens.
    1201px and more — Extra large screens, TV.
*/
@media screen and (max-width: 480px) {
    #info::after {
        content: 'MOBILE';
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #info::after {
        content: 'TABLET';
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #info::after {
        content: 'LAPTOP';
    }
}

@media screen and (min-width: 1025px) {
    #info::after {
        content: 'MONITOR';
    }
}

@media all and (display-mode: fullscreen) {
    body {
        background: red;
    }
}
